<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jedi-framework</display-name>
  <listener>
    <listener-class>cn.jedisoft.framework.web.listener.JediWebListener</listener-class>
  </listener>

  <filter>
    <display-name>JediWebFilter</display-name>
    <filter-name>JediWebFilter</filter-name>
    <filter-class>cn.jedisoft.framework.web.filter.JediWebFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JediWebFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>